cloudpickle==3.1.0
colored==2.2.4
gputil==1.4.0
msgpack==1.1.0
numpy==1.26.4
psutil==6.1.0
ruamel.yaml==0.18.6
tensorflow-cpu==2.17.0
zmq==0.0.0
chex==0.1.87
einops==0.8.0
jaxlib==0.4.34
optax==0.2.3
tensorflow_probability==0.24.0
crafter==1.8.3
gym==0.26.2